
.post-container {
    align-items: center;
    margin: 40px 100px;
}

.post {
    margin: auto;
    max-width: 720px;
    transition: 0.3s;
}

.post h1, .post h1 a, .post h1 a:visited {
    color: #329ba1;
    text-decoration: none;
    font-size: 36px;
}

.post p, .post h1, .post h2, .post h3 {
    line-height: 140%;
    margin: 10px;
}

.post .publish-details {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.post .back-button {
    font-size: 20px;
    margin-bottom: 40px;
}