{% load static %}

<html>
    <head>
        <title>DUMBLR</title>

        <!-- STYLING -->
        <!-- custom css -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% block styles %}
        {% endblock %}

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    </head>
    <body>

        <div class="page-header">
            <h1><a href="/">dumblr</a></h1>
            <h1><a href="/blog">blog posts</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">

                    {% block content %}
                    {% endblock %}

                </div>
            </div>
        </div>
<!-- 
        <footer>
            built by grac | <a href="https://github.com/gracejiang/dumblr">view code here</a>
        </footer> -->
    
    </body>
</html>