<html>
    <head>
        <title>DUMBLR</title>
    </head>
    <body>

        <div>
            <h1><a href="/">dumblr</a></h1>
            <p>tumblr but ugly</p>
        </div>

        {% for post in posts %}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <p><i>Published On: {{ post.published_date }}</i></p>
                <p>{{ post.text | linebreaksbr }}</p>
            </div>
        {% endfor %}

        <footer>
            <a href="https://github.com/gracejiang/dumblr">view code here</a>
        </footer>
    
    </body>
</html>