{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/splash.css' %}">
{% endblock %}

{% block content %}
    <div class="splash-container">
        <div class="splash-content">
            <h1>splash page</h1>
            <p>hi, i'm grace (she/her)! 👋 i'm currently a junior @ upenn studying 
                cs & business. this is my dummy version of tumblr, made for the class
                <a href="https://cis192.github.io/markdown" target="_blank">cis192</a>.
                you can view the code for this project 
                <a href="https://github.com/gracejiang/dumblr" target="_blank">here</a>.</p>
            <div class="image">
                <img src="https://i.pinimg.com/originals/d6/9b/61/d69b611914dd51d3953cd78b26ed64bc.jpg">
                <br><i>mah boi oikawa</i>
            </div>
        </div>
    </div>
{% endblock %}                                           